#  Hotels Meal Prediction

## Data: https://www.kaggle.com/jessemostipak/hotel-booking-demand

In [145]:
import pandas as pd

In [146]:
df=pd.read_csv("hotel_bookings.csv")

In [147]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 119390 entries, 0 to 119389
Data columns (total 32 columns):
hotel                             119390 non-null object
is_canceled                       119390 non-null int64
lead_time                         119390 non-null int64
arrival_date_year                 119390 non-null int64
arrival_date_month                119390 non-null object
arrival_date_week_number          119390 non-null int64
arrival_date_day_of_month         119390 non-null int64
stays_in_weekend_nights           119390 non-null int64
stays_in_week_nights              119390 non-null int64
adults                            119390 non-null int64
children                          119386 non-null float64
babies                            119390 non-null int64
meal                              119390 non-null object
country                           118902 non-null object
market_segment                    119390 non-null object
distribution_channel              119390 non-null object
is_repeated_guest                 119390 non-null int64
previous_cancellations            119390 non-null int64
previous_bookings_not_canceled    119390 non-null int64
reserved_room_type                119390 non-null object
assigned_room_type                119390 non-null object
booking_changes                   119390 non-null int64
deposit_type                      119390 non-null object
agent                             103050 non-null float64
company                           6797 non-null float64
days_in_waiting_list              119390 non-null int64
customer_type                     119390 non-null object
adr                               119390 non-null float64
required_car_parking_spaces       119390 non-null int64
total_of_special_requests         119390 non-null int64
reservation_status                119390 non-null object
reservation_status_date           119390 non-null object
dtypes: float64(4), int64(16), object(12)
memory usage: 29.1+ MB

In [148]:
df.head(10)

,hotel,is_canceled,lead_time,arrival_date_year,arrival_date_month,arrival_date_week_number,arrival_date_day_of_month,stays_in_weekend_nights,stays_in_week_nights,adults,children,babies,meal,country,market_segment,distribution_channel,is_repeated_guest,previous_cancellations,previous_bookings_not_canceled,reserved_room_type,assigned_room_type,booking_changes,deposit_type,agent,company,days_in_waiting_list,customer_type,adr,required_car_parking_spaces,total_of_special_requests,reservation_status,reservation_status_date
0,Resort Hotel,0,342,2015,July,27,1,0,0,2,0.0,0,BB,PRT,Direct,Direct,0,0,0,C,C,3,No Deposit,NaN,NaN,0,Transient,0.0,0,0,Check-Out,2015-07-01
1,Resort Hotel,0,737,2015,July,27,1,0,0,2,0.0,0,BB,PRT,Direct,Direct,0,0,0,C,C,4,No Deposit,NaN,NaN,0,Transient,0.0,0,0,Check-Out,2015-07-01
2,Resort Hotel,0,7,2015,July,27,1,0,1,1,0.0,0,BB,GBR,Direct,Direct,0,0,0,A,C,0,No Deposit,NaN,NaN,0,Transient,75.0,0,0,Check-Out,2015-07-02
3,Resort Hotel,0,13,2015,July,27,1,0,1,1,0.0,0,BB,GBR,Corporate,Corporate,0,0,0,A,A,0,No Deposit,304.0,NaN,0,Transient,75.0,0,0,Check-Out,2015-07-02
4,Resort Hotel,0,14,2015,July,27,1,0,2,2,0.0,0,BB,GBR,Online TA,TA/TO,0,0,0,A,A,0,No Deposit,240.0,NaN,0,Transient,98.0,0,1,Check-Out,2015-07-03
5,Resort Hotel,0,14,2015,July,27,1,0,2,2,0.0,0,BB,GBR,Online TA,TA/TO,0,0,0,A,A,0,No Deposit,240.0,NaN,0,Transient,98.0,0,1,Check-Out,2015-07-03
6,Resort Hotel,0,0,2015,July,27,1,0,2,2,0.0,0,BB,PRT,Direct,Direct,0,0,0,C,C,0,No Deposit,NaN,NaN,0,Transient,107.0,0,0,Check-Out,2015-07-03
7,Resort Hotel,0,9,2015,July,27,1,0,2,2,0.0,0,FB,PRT,Direct,Direct,0,0,0,C,C,0,No Deposit,303.0,NaN,0,Transient,103.0,0,1,Check-Out,2015-07-03
8,Resort Hotel,1,85,2015,July,27,1,0,3,2,0.0,0,BB,PRT,Online TA,TA/TO,0,0,0,A,A,0,No Deposit,240.0,NaN,0,Transient,82.0,0,1,Canceled,2015-05-06
9,Resort Hotel,1,75,2015,July,27,1,0,3,2,0.0,0,HB,PRT,Offline TA/TO,TA/TO,0,0,0,D,D,0,No Deposit,15.0,NaN,0,Transient,105.5,0,0,Canceled,2015-04-22

In [150]:
df['lead_time'][df['lead_time']<=0]

6         0
18        0
56        0
57        0
58        0
         ..
119137    0
119138    0
119151    0
119166    0
119270    0
Name: lead_time, Length: 6345, dtype: int64

In [154]:
import numpy as np
neg_outliers=df['lead_time']<=0
df[neg_outliers] = np.nan
df.dropna(subset=['lead_time'],axis=0,inplace=True)

In [156]:
n=3

median = df['lead_time'].median()
std = df['lead_time'].std()
outliers = (df['lead_time'] - median).abs() > std*n
df[outliers] = np.nan
df['lead_time'].fillna(median, inplace=True)

df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 113045 entries, 0 to 119389
Data columns (total 32 columns):
hotel                             109602 non-null object
is_canceled                       109602 non-null float64
lead_time                         113045 non-null float64
arrival_date_year                 109602 non-null float64
arrival_date_month                109602 non-null object
arrival_date_week_number          109602 non-null float64
arrival_date_day_of_month         109602 non-null float64
stays_in_weekend_nights           109602 non-null float64
stays_in_week_nights              109602 non-null float64
adults                            109602 non-null float64
children                          109598 non-null float64
babies                            109602 non-null float64
meal                              109602 non-null object
country                           109236 non-null object
market_segment                    109602 non-null object
distribution_channel              109602 non-null object
is_repeated_guest                 109602 non-null float64
previous_cancellations            109602 non-null float64
previous_bookings_not_canceled    109602 non-null float64
reserved_room_type                109602 non-null object
assigned_room_type                109602 non-null object
booking_changes                   109602 non-null float64
deposit_type                      109602 non-null object
agent                             96991 non-null float64
company                           5882 non-null float64
days_in_waiting_list              109602 non-null float64
customer_type                     109602 non-null object
adr                               109602 non-null float64
required_car_parking_spaces       109602 non-null float64
total_of_special_requests         109602 non-null float64
reservation_status                109602 non-null object
reservation_status_date           109602 non-null object
dtypes: float64(20), object(12)
memory usage: 28.5+ MB

In [157]:
pd.set_option("display.max_columns",33)

In [158]:
df.tail(10)

,hotel,is_canceled,lead_time,arrival_date_year,arrival_date_month,arrival_date_week_number,arrival_date_day_of_month,stays_in_weekend_nights,stays_in_week_nights,adults,children,babies,meal,country,market_segment,distribution_channel,is_repeated_guest,previous_cancellations,previous_bookings_not_canceled,reserved_room_type,assigned_room_type,booking_changes,deposit_type,agent,company,days_in_waiting_list,customer_type,adr,required_car_parking_spaces,total_of_special_requests,reservation_status,reservation_status_date
119380,City Hotel,0.0,44.0,2017.0,August,35.0,31.0,1.0,3.0,2.0,0.0,0.0,SC,DEU,Online TA,TA/TO,0.0,0.0,0.0,A,A,0.0,No Deposit,9.0,NaN,0.0,Transient,140.75,0.0,1.0,Check-Out,2017-09-04
119381,City Hotel,0.0,188.0,2017.0,August,35.0,31.0,2.0,3.0,2.0,0.0,0.0,BB,DEU,Direct,Direct,0.0,0.0,0.0,A,A,0.0,No Deposit,14.0,NaN,0.0,Transient,99.00,0.0,0.0,Check-Out,2017-09-05
119382,City Hotel,0.0,135.0,2017.0,August,35.0,30.0,2.0,4.0,3.0,0.0,0.0,BB,JPN,Online TA,TA/TO,0.0,0.0,0.0,G,G,0.0,No Deposit,7.0,NaN,0.0,Transient,209.00,0.0,0.0,Check-Out,2017-09-05
119383,City Hotel,0.0,164.0,2017.0,August,35.0,31.0,2.0,4.0,2.0,0.0,0.0,BB,DEU,Offline TA/TO,TA/TO,0.0,0.0,0.0,A,A,0.0,No Deposit,42.0,NaN,0.0,Transient,87.60,0.0,0.0,Check-Out,2017-09-06
119384,City Hotel,0.0,21.0,2017.0,August,35.0,30.0,2.0,5.0,2.0,0.0,0.0,BB,BEL,Offline TA/TO,TA/TO,0.0,0.0,0.0,A,A,0.0,No Deposit,394.0,NaN,0.0,Transient,96.14,0.0,2.0,Check-Out,2017-09-06
119385,City Hotel,0.0,23.0,2017.0,August,35.0,30.0,2.0,5.0,2.0,0.0,0.0,BB,BEL,Offline TA/TO,TA/TO,0.0,0.0,0.0,A,A,0.0,No Deposit,394.0,NaN,0.0,Transient,96.14,0.0,0.0,Check-Out,2017-09-06
119386,City Hotel,0.0,102.0,2017.0,August,35.0,31.0,2.0,5.0,3.0,0.0,0.0,BB,FRA,Online TA,TA/TO,0.0,0.0,0.0,E,E,0.0,No Deposit,9.0,NaN,0.0,Transient,225.43,0.0,2.0,Check-Out,2017-09-07
119387,City Hotel,0.0,34.0,2017.0,August,35.0,31.0,2.0,5.0,2.0,0.0,0.0,BB,DEU,Online TA,TA/TO,0.0,0.0,0.0,D,D,0.0,No Deposit,9.0,NaN,0.0,Transient,157.71,0.0,4.0,Check-Out,2017-09-07
119388,City Hotel,0.0,109.0,2017.0,August,35.0,31.0,2.0,5.0,2.0,0.0,0.0,BB,GBR,Online TA,TA/TO,0.0,0.0,0.0,A,A,0.0,No Deposit,89.0,NaN,0.0,Transient,104.40,0.0,0.0,Check-Out,2017-09-07
119389,City Hotel,0.0,205.0,2017.0,August,35.0,29.0,2.0,7.0,2.0,0.0,0.0,HB,DEU,Online TA,TA/TO,0.0,0.0,0.0,A,A,0.0,No Deposit,9.0,NaN,0.0,Transient,151.20,0.0,2.0,Check-Out,2017-09-07

In [159]:
df["hotel"].unique()

array(['Resort Hotel', nan, 'City Hotel'], dtype=object)

In [163]:
resorthotel=(df["hotel"]=='City Hotel')

In [164]:
df[resorthotel]

,hotel,is_canceled,lead_time,arrival_date_year,arrival_date_month,arrival_date_week_number,arrival_date_day_of_month,stays_in_weekend_nights,stays_in_week_nights,adults,children,babies,meal,country,market_segment,distribution_channel,is_repeated_guest,previous_cancellations,previous_bookings_not_canceled,reserved_room_type,assigned_room_type,booking_changes,deposit_type,agent,company,days_in_waiting_list,customer_type,adr,required_car_parking_spaces,total_of_special_requests,reservation_status,reservation_status_date
40060,City Hotel,0.0,6.0,2015.0,July,27.0,1.0,0.0,2.0,1.0,0.0,0.0,HB,PRT,Offline TA/TO,TA/TO,0.0,0.0,0.0,A,A,0.0,No Deposit,6.0,NaN,0.0,Transient,0.00,0.0,0.0,Check-Out,2015-07-03
40061,City Hotel,1.0,88.0,2015.0,July,27.0,1.0,0.0,4.0,2.0,0.0,0.0,BB,PRT,Online TA,TA/TO,0.0,0.0,0.0,A,A,0.0,No Deposit,9.0,NaN,0.0,Transient,76.50,0.0,1.0,Canceled,2015-07-01
40062,City Hotel,1.0,65.0,2015.0,July,27.0,1.0,0.0,4.0,1.0,0.0,0.0,BB,PRT,Online TA,TA/TO,0.0,0.0,0.0,A,A,0.0,No Deposit,9.0,NaN,0.0,Transient,68.00,0.0,1.0,Canceled,2015-04-30
40063,City Hotel,1.0,92.0,2015.0,July,27.0,1.0,2.0,4.0,2.0,0.0,0.0,BB,PRT,Online TA,TA/TO,0.0,0.0,0.0,A,A,0.0,No Deposit,9.0,NaN,0.0,Transient,76.50,0.0,2.0,Canceled,2015-06-23
40064,City Hotel,1.0,100.0,2015.0,July,27.0,2.0,0.0,2.0,2.0,0.0,0.0,BB,PRT,Online TA,TA/TO,0.0,0.0,0.0,A,A,0.0,No Deposit,9.0,NaN,0.0,Transient,76.50,0.0,1.0,Canceled,2015-04-02
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
119385,City Hotel,0.0,23.0,2017.0,August,35.0,30.0,2.0,5.0,2.0,0.0,0.0,BB,BEL,Offline TA/TO,TA/TO,0.0,0.0,0.0,A,A,0.0,No Deposit,394.0,NaN,0.0,Transient,96.14,0.0,0.0,Check-Out,2017-09-06
119386,City Hotel,0.0,102.0,2017.0,August,35.0,31.0,2.0,5.0,3.0,0.0,0.0,BB,FRA,Online TA,TA/TO,0.0,0.0,0.0,E,E,0.0,No Deposit,9.0,NaN,0.0,Transient,225.43,0.0,2.0,Check-Out,2017-09-07
119387,City Hotel,0.0,34.0,2017.0,August,35.0,31.0,2.0,5.0,2.0,0.0,0.0,BB,DEU,Online TA,TA/TO,0.0,0.0,0.0,D,D,0.0,No Deposit,9.0,NaN,0.0,Transient,157.71,0.0,4.0,Check-Out,2017-09-07
119388,City Hotel,0.0,109.0,2017.0,August,35.0,31.0,2.0,5.0,2.0,0.0,0.0,BB,GBR,Online TA,TA/TO,0.0,0.0,0.0,A,A,0.0,No Deposit,89.0,NaN,0.0,Transient,104.40,0.0,0.0,Check-Out,2017-09-07
119389,City Hotel,0.0,205.0,2017.0,August,35.0,29.0,2.0,7.0,2.0,0.0,0.0,HB,DEU,Online TA,TA/TO,0.0,0.0,0.0,A,A,0.0,No Deposit,9.0,NaN,0.0,Transient,151.20,0.0,2.0,Check-Out,2017-09-07

In [167]:
column=['is_canceled','lead_time','arrival_date_year','arrival_date_month','arrival_date_week_number','arrival_date_day_of_month',
  'stays_in_week_nights','stays_in_weekend_nights','adults','children','babies','agent','adr','total_of_special_requests','required_car_parking_spaces',"meal"]

In [168]:
new_df=df.loc[resorthotel,column]

In [169]:
new_df

,is_canceled,lead_time,arrival_date_year,arrival_date_month,arrival_date_week_number,arrival_date_day_of_month,stays_in_week_nights,stays_in_weekend_nights,adults,children,babies,agent,adr,total_of_special_requests,required_car_parking_spaces,meal
40060,0.0,6.0,2015.0,July,27.0,1.0,2.0,0.0,1.0,0.0,0.0,6.0,0.00,0.0,0.0,HB
40061,1.0,88.0,2015.0,July,27.0,1.0,4.0,0.0,2.0,0.0,0.0,9.0,76.50,1.0,0.0,BB
40062,1.0,65.0,2015.0,July,27.0,1.0,4.0,0.0,1.0,0.0,0.0,9.0,68.00,1.0,0.0,BB
40063,1.0,92.0,2015.0,July,27.0,1.0,4.0,2.0,2.0,0.0,0.0,9.0,76.50,2.0,0.0,BB
40064,1.0,100.0,2015.0,July,27.0,2.0,2.0,0.0,2.0,0.0,0.0,9.0,76.50,1.0,0.0,BB
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
119385,0.0,23.0,2017.0,August,35.0,30.0,5.0,2.0,2.0,0.0,0.0,394.0,96.14,0.0,0.0,BB
119386,0.0,102.0,2017.0,August,35.0,31.0,5.0,2.0,3.0,0.0,0.0,9.0,225.43,2.0,0.0,BB
119387,0.0,34.0,2017.0,August,35.0,31.0,5.0,2.0,2.0,0.0,0.0,9.0,157.71,4.0,0.0,BB
119388,0.0,109.0,2017.0,August,35.0,31.0,5.0,2.0,2.0,0.0,0.0,89.0,104.40,0.0,0.0,BB
119389,0.0,205.0,2017.0,August,35.0,29.0,7.0,2.0,2.0,0.0,0.0,9.0,151.20,2.0,0.0,HB

In [172]:
df_sel=df[column].copy()
df_sel.isnull().mean()

is_canceled                    0.030457
lead_time                      0.000000
arrival_date_year              0.030457
arrival_date_month             0.030457
arrival_date_week_number       0.030457
arrival_date_day_of_month      0.030457
stays_in_week_nights           0.030457
stays_in_weekend_nights        0.030457
adults                         0.030457
children                       0.030492
babies                         0.030457
agent                          0.142014
adr                            0.030457
total_of_special_requests      0.030457
required_car_parking_spaces    0.030457
meal                           0.030457
dtype: float64

In [173]:
df_sel.dropna(subset=df_sel.columns[df_sel.isnull().mean()!=0], how='any', axis=0, inplace=True)
df_sel.shape

(96989, 16)

In [174]:
state='August'
df_state=df_sel.loc[df_sel.arrival_date_month==state].copy()
df_state.drop('arrival_date_month',axis=1, inplace=True)

In [175]:
df_state

,is_canceled,lead_time,arrival_date_year,arrival_date_week_number,arrival_date_day_of_month,stays_in_week_nights,stays_in_weekend_nights,adults,children,babies,agent,adr,total_of_special_requests,required_car_parking_spaces,meal
842,0.0,129.0,2015.0,31.0,1.0,1.0,1.0,2.0,0.0,0.0,67.0,96.30,0.0,0.0,BB
843,1.0,84.0,2015.0,31.0,1.0,1.0,2.0,2.0,0.0,0.0,175.0,118.06,0.0,0.0,HB
844,1.0,84.0,2015.0,31.0,1.0,1.0,2.0,2.0,0.0,0.0,175.0,118.06,0.0,0.0,HB
847,1.0,80.0,2015.0,31.0,1.0,1.0,0.0,2.0,0.0,0.0,240.0,134.00,2.0,0.0,BB
850,1.0,24.0,2015.0,31.0,1.0,1.0,0.0,2.0,2.0,0.0,240.0,233.00,1.0,0.0,BB
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
119385,0.0,23.0,2017.0,35.0,30.0,5.0,2.0,2.0,0.0,0.0,394.0,96.14,0.0,0.0,BB
119386,0.0,102.0,2017.0,35.0,31.0,5.0,2.0,3.0,0.0,0.0,9.0,225.43,2.0,0.0,BB
119387,0.0,34.0,2017.0,35.0,31.0,5.0,2.0,2.0,0.0,0.0,9.0,157.71,4.0,0.0,BB
119388,0.0,109.0,2017.0,35.0,31.0,5.0,2.0,2.0,0.0,0.0,89.0,104.40,0.0,0.0,BB
119389,0.0,205.0,2017.0,35.0,29.0,7.0,2.0,2.0,0.0,0.0,9.0,151.20,2.0,0.0,HB

In [177]:
target='meal'
Y = df_state[target]
X = df_state.drop(target, axis=1)
X_train, X_test, Y_train, Y_test = train_test_split(X, Y, test_size=0.2, random_state=21, stratify=Y)

In [88]:
from sklearn.model_selection import train_test_split

In [178]:
from sklearn.preprocessing import StandardScaler
from sklearn.neighbors import KNeighborsClassifier
from sklearn.metrics import accuracy_score

knn = KNeighborsClassifier(n_neighbors=6)
knn.fit(X_train,Y_train)
Y_pred = knn.predict(X_test)
acc=accuracy_score(Y_test, Y_pred)

print('[K-Nearest Neighbors (KNN)] knn.score: {:.3f}.'.format(knn.score(X_test, Y_test)))
print('[K-Nearest Neighbors (KNN)] accuracy_score: {:.3f}.'.format(acc))

[K-Nearest Neighbors (KNN)] knn.score: 0.799.
[K-Nearest Neighbors (KNN)] accuracy_score: 0.799.

In [179]:
from sklearn.tree import DecisionTreeClassifier

dt_entropy = DecisionTreeClassifier(max_depth=50, criterion='entropy', random_state=1)
dt_entropy.fit(X_train, Y_train)
Y_pred= dt_entropy.predict(X_test)
accuracy_entropy = accuracy_score(Y_test, Y_pred)
print('[Decision Tree -- entropy] accuracy_score: {:.3f}.'.format(accuracy_entropy))


dt_gini = DecisionTreeClassifier(max_depth=15, criterion='gini', random_state=1)
dt_gini.fit(X_train, Y_train)
Y_pred= dt_gini.predict(X_test)
accuracy_gini = accuracy_score(Y_test, Y_pred)
acc=accuracy_gini
print('[Decision Tree -- gini] accuracy_score: {:.3f}.'.format(accuracy_gini))

[Decision Tree -- entropy] accuracy_score: 0.849.
[Decision Tree -- gini] accuracy_score: 0.834.

In [181]:
from sklearn.ensemble import RandomForestClassifier
clf=RandomForestClassifier(n_estimators=100)
clf.fit(X_train,Y_train)
Y_pred=clf.predict(X_test)
acc=accuracy_score(Y_test, Y_pred)
print('[RandomForest] accuracy_score: {:.3f}.'.format(acc))

[RandomForest] accuracy_score: 0.866.